<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="databaseConnectionString" value="Driver={ODBC Driver 13 for SQL Server};Server=tcp:kanban.database.windows.net,1433;Database=kanban;Uid=SetUser3@kanban;Pwd=Conestoga1;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;" />
  </appSettings>
</configuration>